
body {
    margin: 0;
    padding: 0;
    font-family: 'Caudex', sans-serif;
    background-color: #e7cbaf; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.outer-box {
    padding: 40px;
    border: 2px solid #05411b; 
    border-radius: 15px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 500px; 
    max-width: 100%; 
}


.login-box {
    background-color: #ffffff; 
    padding: 30px 40px;
    border-radius: 10px; 
    text-align: center; 
    max-width: 400px;
    width: 100%;
}


.login-box h2 {
    margin-bottom: 20px;
    color: #05411b;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
}


.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}


.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.btn {
    background-color: #05411b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #0b7331;
}


.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #05411b;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    color: #0b7331;
}
.back-home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #05411b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.back-home-btn:hover {
    background-color: #0b7331;
}